<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="oracle_conn">
	
	<!--  DB연결을 위한 변수 설정 -->  
    <environment id="oracle_conn">
    
      <transactionManager type="JDBC"/>
      
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="user2"/>
        <property name="password" value="user2"/>
      </dataSource>      
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/biz/order/config/mapper/order-mapper.xml"/>
  </mappers>
</configuration>